main {
    min-height: 100vh;
}


.hero {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: calc(100vh - 80px);
    position: relative;
    
}

.hero__banner {
    position: relative;
    margin-left: 20%;
    margin-top: 50px;
    width: 45%;
}

.hero__img__container {
    width: 100%;
    height: fit-content;
    position: relative;
}

.hero__img__container img {
    width: 100%;
    height: auto;
}

.hero__background {
    position: absolute;
    z-index: -2;
    bottom: -10%;
    right: -7%;
    width: 100%;
    height: 100%;
    background: #131112;
}

.hero__title__info {
    display: flex;
    flex-direction: column;
}

.hero__title{
    position: absolute;
    z-index: 5;
    left: 5%;
    width: 50%;
    margin-top: 50px;
}

.hero__title__h1{
    font-family: 'Poppins';
    font-weight: bold;
    font-size: 3.25vw;
}

.hero__title__span {
    font-family: 'Poppins';
    font-size: 1.2vw;
}

.hero__title__a {
    width: fit-content;
    padding: 10px;
    margin-top: 40px;
    margin: 5%;
    background: none;
    border: 1px solid black;
    border-radius: 10px;
    font-family: 'Poppins';
    font-size: 1vw;
    transition: all .2s ease-in-out;
}

.hero__title__a:hover {
    background: black;
    color: white;
}

/* ITEMS CSS */

.destinations__container {
    display: grid;
    grid-template-columns: repeat(4, auto);
    width: fit-content;
    padding: 40px;
    gap: 10px;
}

.destinations__title {
    font-family: 'Poppins';
    color: black;
    font-weight: bold;
    margin-left: 10px;
    font-size: 1.3em;
}

.destinations__items {
    background: #131112;
    padding: 15px;
    border-radius: 10px;
    display: grid;
    gap: 20px;
    grid-template-rows: auto;
    width: 330px;
}

.destinations__img__container {
    width: 300px;
    height: 230px;
    overflow: hidden;
    border-radius: 10px;
}



.destinations__img__container img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transition: transform .2s ease-in-out;
    cursor: pointer;
}

.destinations__img__container img:hover {
    transform: scale(1.2);
}

.destinations__items p {
    font-family: 'Poppins';
    width: 100%;
}

.items__title {
    color:  white;
}

.items__price {
    color: white;
    font-weight: bold;
    font-size: 1.2em;
}

.items__link {
    width: 120px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    justify-self: center;
    background: none;
    border: 1px solid white;
    color: white;
    font-family: 'Poppins';
    transition: all .2s ease-in-out;
}

.items__link:hover {
    background: white;
    color: black;
}


footer{
    width: 100%;
    height: 160px;
    font-family: Poppins;
    border-top: 1px solid #131112;
}

.columns {
    padding-bottom: 30px;
   display: flex;
   flex-direction: row;
   justify-content: space-around;
}

.col-title {
    font-weight: bold;
    margin: 20px 0;
    font-size: 1.2em;
}

.col-sub {
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.col-sub:hover {
    transform: scale(1.1);
}

.col {
    display: flex;
    flex-direction: column;
    color: rgba(0, 0, 0, .8);
    gap: 10px;
}

.icon {
    padding-right: 10px;
    font-size: 1.2em;
}

@media screen and (max-width: 780px){
    .hero {
        height: 50vh;
    }

    .hero__title__h1 {
        font-size: 1.2em;
    }

    .hero__title__span {
        font-size: .8em;
    }

    .hero__title__a {
        font-size: .6em;
    }

    .hero__banner {
        width: 60%;
    }

    .destinations__container {
        grid-template-columns: 1fr;
        padding: 20px;
    }
}